<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	
 	<!-- Profile -->
	<springProfile name="dev | local">
		<property name="LOGS" value="/logs" />
		<property name="LOG_FILE_PATTERN" value="%d{ISO8601} %highlight(%-5level) [%t] %yellow(%C{1.}): %msg%n%throwable" />
	</springProfile>
	<springProfile name="stage">
		<property name="LOGS" value="/logs" />
		<property name="LOG_FILE_PATTERN" value="%d{ISO8601} %highlight(%-5level) [%t] %yellow(%C{1.}): %msg%n%throwable" />
	</springProfile>
 	<springProfile name="prod">
		<property name="LOGS" value="/logs" />
		<property name="LOG_FILE_PATTERN" value="%d{ISO8601} %highlight(%-5level) [%t] %yellow(%C{1.}): %msg%n%throwable" />
	</springProfile>
	<!-- End Profile -->
 
      <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_FILE_PATTERN}</Pattern>
        </layout>
    </appender>
 
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/projectname/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    
    
    <logger name="org.springframework" level="info" addditivity="false" /> 
  	<logger name="jdbc.sqlonly" level="info"/>
	<logger name="jdbc.sqltiming" level="info"/>
	<logger name="jdbc.audit" level="info"/>
	<logger name="jdbc.resultset" level="info"/>
	<logger name="jdbc.resultsettable" level="info"/>
	<logger name="jdbc.connection" level="info"/>
  

    <!-- LOG everything at INFO level -->
    <root>
    	<springProfile name="stage | prod">
        	<appender-ref ref="RollingFile" />
	        <appender-ref ref="Console" />
        </springProfile>
        <springProfile name="dev | local">
	        <appender-ref ref="Console" />
        	<appender-ref ref="RollingFile" />
        </springProfile>
        <!-- <appender-ref ref="Console" /> -->
    </root>
 
</configuration>