<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout/layout" 
	>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="contents">
    <div class="right_col" role="main">
   	   <div class="">
            <div class="row">
              <div class="col-md-12">
		          <div class="col-middle">
		            <div class="text-center text-center">
		              <h1 class="error-number">화면 작업 준비 중입니다.</h1>
		          </div>
		        </div>
              </div><!-- Page Content -->
            </div>
         </div>
      </div> <!-- End right_col -->
    </div> <!-- End Fragment -->
</body>
</html>