<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/layout/layout" 
	>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/ax5dialog.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/ax5mask.css" />
	<script type="text/javascript" src="../../../assets/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/ax5core.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/ax5dialog.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/ax5mask.min.js"></script>
	<script type="text/javascript">
	</script>
</head>
<body>
<div layout:fragment="contents">
    <div class="right_col" role="main">
   	   <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>단말기 관리</h3>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" action="#" th:action="@{/device/register}" th:object="${device}" method="post">
                 	  <span class="section">단말기 등록</span>
					  <!-- 일련번호  -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="id">일련번호 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                          <input type="text" id="id" name="id" th:value="*{id}" class="form-control" data-validate-length-range="6" data-validate-words="2" required="required" th:if="${device.id != null}" disabled="disabled">
                          <input type="text" id="id" name="id" th:value="*{id}" class="form-control" data-validate-length-range="6" data-validate-words="2" required="required" th:if="${device.id == null}" >
                        </div>
                      </div>
                      <!-- 모델  -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="MODEL">MODEL <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                          <input type="text" id="model" name="model" th:value="*{model}" required="required" class="form-control">
                        </div>
                      </div>
                      <!-- WIFI-MAC 주소  -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="wifimac">WIFI-MAC 주소 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                          <input type="text" id="wifiMac" name="wifiMac" th:value="*{wifiMac}" required="required" class="form-control">
                        </div>
                      </div>
                      <!-- VERSION  -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="version">VERSION (Android)</label>
                        <div class="col-md-6 col-sm-6">
                          <input type="text" id="version" name="version" th:value="*{version}" class="form-control">
                        </div>
                      </div>
                        <!-- ETC  -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="etc">ETC</label>
                        <div class="col-md-6 col-sm-6">
                          <input type="text" id="etc" name="etc" th:value="${etc}" class="form-control">
                        </div>
                      </div>
			
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 offset-md-3" th:if="${device.id != null}">
                          <a href="/device/list" class="btn btn-primary">뒤로가기</a>
                          <button id="send" type="submit" class="btn btn-success">수정</button>
                        </div>
                         <div class="col-md-6 offset-md-3" th:if="${device.id == null}">
                          <button type="reset" class="btn btn-primary">초기화</button>
                          <button id="send" type="submit" class="btn btn-success">전송2</button>
                        </div>
                      </div>
                    </form>
                    <!-- <p th:text="${device.id}"></p> -->
                  </div>
                </div>
              </div>
            </div>
         </div>
      </div> <!-- End right_col -->
    </div> <!-- End Fragment -->
</body>
</html>